<!DOCTYPE html>
<html>
    <head>
        <!-- main title and charset -->
        <meta charset="utf-8">
        <title>Test node.js</title>

        <!-- include javascript -->
        <script type = "text/javascript"
        src = "https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js">
        </script>

        <!-- include css-->
        <link rel = "stylesheet"
        href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity = "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin = "anonymous">
        
        <link rel = "stylesheet"
        href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity = "sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin = "anonymous">

        <link rel="stylesheet" href="css/main.css">

    </head>
    <body>
        <div id = "calculator">
            <div class = "input-group">
                <input
                disabled = true
                type = "text"
                maxlength = "20"
                style = "width:7.4cm;height:1cm;font-size:20px;text-align:right"
                class = "form-control"
                v-bind:value = "result">
            </div>

            <div class = "btn-group">
                <button
                type = "button"
                class = "btn btn-primary general_button"
                v-for = "index in 3"
                v-bind:id = "'button' + (index + 6)"
                v-on:click = "main_process(index + 6)">
                    {{index + 6}}
                </button>
                
                <button
                type = "button"
                class = "btn btn-primary general_button"
                v-on:click = "div">
                    /
                </button>
            </div>

            <br>
            
            <div class = "btn-group">
                <button
                type = "button"
                class = "btn btn-primary general_button"
                v-for = "index in 3"
                v-on:click = "main_process(index + 3)">
                    {{index + 3}}
                </button>

                <button
                type = "button"
                class = "btn btn-primary general_button"
                v-on:click="mul">
                    *
                </button>
            </div>

            <br>
            
            <div class = "btn-group">
                <button
                type = "button"
                class = "btn btn-primary general_button"
                v-for = "index in 3"
                v-on:click = "main_process(index)">
                    {{index}}
                </button>
                
                <button
                type = "button"
                class = "btn btn-primary general_button"
                v-on:click = "sub">
                    -
                </button>
            </div>

            <br>

            <div class = "btn-group">
                <button
                type = "button"
                class = "btn btn-primary general_button"
                v-on:click = "main_process(0)">
                    0
                </button>

                <button
                type = "button"
                class = "btn btn-primary general_button">
                    .
                </button>

                <button
                type = "button"
                class = "btn btn-primary general_button"
                v-on:click = "back">
                    <|
                </button>

                <button
                type = "button"
                class = "btn btn-primary general_button"
                v-on:click = "add">
                    +
                </button>

                <button
                type = "button"
                class = "btn btn-primary general_button"
                v-on:click = "equ"
                style = "position:relative;bottom:4.5cm;height:6cm">
                    =
                </button>
            </div>
        </div>
        <script src ="script/main.js"></script>
    </body>
</html>